#ifIndesitOven{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: #808080;
    display: block;
}

#ifIndesitOven .row1{
    display: table-row;
    
}
#ifIndesitOven .col{
    display: block;
    height: 100%;
    vertical-align: top;
    float: left;
    
    
}

#ifIndesitOven .col2 {
  display: block;
  position: relative;
  height: 50%;
  vertical-align: top;
  float: left;
}

#ifIndesitOven .col.lborder{
    /*border-left: 1px solid #000;*/
}
#ifIndesitOven .left-box{
    position: relative;
    height: 100%;
    background:none;

}


#ifIndesitOven .left-box .icona, #ifIndesitOven .left-box .icona.NP{
    margin-left: auto;
    margin-right: auto;
    min-width: 50px;
    min-height: 50px;
    height: 70%;
    width: 100%;
/*    position: absolute;*/
    z-index: 20;
    top: 0px;
    left:0px;
    
    background-image: none;
    
}


#ifIndesitOven .left-box .icona.ON {
    background-image: url("bg_icon_blue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}

#ifIndesitOven .left-box .icona.OFF {
    background-image: url("bg_icon_gray.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
}

#ifIndesitOven .left-box .icona img {
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  display: block;
  width: 180px;
}

#ifIndesitOven .left-box .maschera img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    position: absolute;
}

#ifIndesitOven .StatoElettrodomestico {
  display: block;
  width: 70%;
  height: 30%;
  float: left;
  filter: none;
  background: none;
 
  /* position: absolute; */
  margin-left: 20px;
  /* display: none; */
}

#ifIndesitOven  .inline{
    float: left;
    display: block;
}
 #ifIndesitOven  .btnToggle{
    width:50px;
    height: 22px;
    max-height: 22px;
    cursor: pointer;
}
#ifIndesitOven  .btnToggle.ON{
    background-image: url("toggle_on.png");
    background-size: 100% 100%;
}
#ifIndesitOven  .btnToggle.OFF{
    background-image: url("toggle_off.png");
    background-size: 100% 100%;
}

#ifIndesitOven  .btnToggle.NP{
    background-image: none;
    color: #808080;
    font-size: large;
    cursor: default;
}

#ifIndesitOven  .label{
    display: block;
	font-size: 19px;
    text-align: center;
}

#ifIndesitOven  .dato{
    display: block;
    font-size: large;
    font-weight: bold;
    color: #ccc;
}

#ifIndesitOven  .right{
    float: right;
    
}

#ifIndesitOven  #OnOffControl{
    width: 90%;
    height: 20%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#ifIndesitOven  #LevelControl{
    width: 90%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ColorControl{
    display: block;
    width:80%;
    height: 70%;
    margin-left:auto;
    margin-right: auto;
    
}
#picker{
    width: 100%;
    height: 100%;
}

#ifIndesitOven .icona_row{
    text-align: center;
    
}

#ifIndesitOven .icona_row img{
    margin-left: auto;
    margin-right: auto;
    
}

#ifIndesitOven .line{
    display: block;
    height: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

#ifIndesitOven .value{
    color: #fff;
    text-align: right;
    
}

#ifIndesitOven .green{
    font-size: 24px;
    color: #9cc31c;
    margin-bottom: 20px;
    /*margin-bottom: 20px;*/
    
}

#ifIndesitOven .hours, #ifIndesitOven .minutes, #ifIndesitOven .points{
    float: right;
    
}
 #ifIndesitOven .points{
    width: 5px;
 }
 
 

/*MEDIA QUERIES*/
 
@media only screen and (max-device-width:768px), (max-width: 768px){
 
 #ifIndesitOven .label {
  font-size: 16px;
  }
} 

 @media only screen and (max-device-width:480px), (max-width: 480px){
 #ifIndesitOven {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  color: #808080;
  display: block;
}



#ifIndesitOven .col {
  display: block;
  position: relative;
  float: left;
  width: 100% !important;
  height: 45%;
  vertical-align: top;
  float: left;
}


#ifIndesitOven .col .label {
  display: block;
  width: 45% !important;
  font-size: 5.5vw;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 0px !important;
}


#ifIndesitOven .col2 {
 width:100% !important;
}

#ifIndesitOven .col.lborder {
  border-left:none;
}

#ifIndesitOven .line {
  height: 50%;
}

/* #Interfaccia .header {
  margin:0px auto;
  width:24%;
} */

#ifIndesitOven .col .icona_row {
  /* text-align: center; */
  width: 10% !important;
}

 #ifIndesitOven .StatoElettrodomestico {
  display: block;
  width: 100%;
    height: 15%;
    margin-left:0px;
  }
    
#ifIndesitOven .green {
  margin-bottom: 20px;
}

 }
 
 @media only screen and (max-device-height: 480px) and (max-device-width: 854px){
 #ifIndesitOven .label {
  display: block;
  font-size: 2.5vw;
  text-align: center;
}

#ifIndesitOven .left-box {
  position: relative;
  height: 100%;
  width: 218px;
  left: -30px;
  background: none;
}

#ifIndesitOven .left-box .icona, #ifIndesitOven .left-box .icona.NP {
  height: 51%;
}

 }
 
 
 /*Per IPAD in portrait*/
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-max-device-pixel-ratio: 2){
	
}