#MainMenuTable {
	position: absolute;
	left: 2%;
	top: 0%;
	width: 96%;
	height: 90%;
	overflow: hidden;
}


.MainMenuEl{
		width:150px;height:180px;float:left;margin-left:25px;margin-right:25px;
		
	}


.MainMenuImg{
	width:100%;
	height:80%;
}

.MainMenuImg {
	/*position: absolute;
	top: 0%;*/
	border: none;
}

.MainMenuEl {
	
	/*position: absolute;*/
	float:left;
	color: white;
}

.MainMenuEl:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.MainMenuElSelected {
	/*position: absolute;*/
	color: #9ec200;
}

.MainMenuTitle {
	/*position: absolute;
	top: 70%;*/
	left: 0%;
	text-align: center;
	width: 100%;
	font-size: 0.9em;
	font-weight: bold;
	padding-top: 2px;
	border: none;
	outline: none;
}

.anchorMain {
	background-color: transparent;
}

.ContentMenuEl {
	top: 1%;
	left: 0%;
	height: 40px;
	width: 24%;
	color: white;
	outline: none;
	/*border-left: solid 2px black;*/
}

.ContentMenuElSelected {
	color: #9ec200;
}

.ContentMenuEl:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.ContentMenuElSelected:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.ContentMenuRow {
	background-color:#333333;
	/*position: absolute;*/
	margin-left:40px;
	margin-bottom: 30px;
	float:left;
	width: calc(100% - 192px);
	overflow: hidden;
}

.ContentMenuTitle {
	/*position: absolute;*/
	/*top: 0%;
	left: 38%;
	width: 55%;
	height: 20%;*/
	/*text-align: center;*/
	float:left;
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
}

.ContentMenuImg {
	/*position: absolute;*/
	/*left: 5%;
	width: 25%;*/
	float:left;
	/*margin-left:20px;*/
	border: none;
	outline: none;
}

/**********************************************************************
Media Queries
***********************************************************************/

/*WIDTH MANAGEMENT*/
@media screen and (min-width:880px) and (max-width: 1275px){
.MainMenuEl{
		width:150px;height:180px;float:left;margin-left:25px;margin-right:25px;
		
	}

.ContentMenuElSelected {
	color: #9ec200;
}

.MainMenuElSelected {
	/*position: absolute;*/
	color: #9ec200;
}

.MainMenuImg{
	width:100%;
	height:80%;
}
.ContentMenuRow{		
		background-color:transparent;	
		width: 880px;
		padding-left: 95px;
		padding-bottom:25px;
		margin:0;	
	}
}

@media screen and (min-width:780px) and (max-width:879px){
.MainMenuEl{
		width:150px;height:180px;float:left;margin-left:25px;margin-right:25px;
		
	}


.MainMenuImg{
	width:100%;
	height:80%;
}
	
	.ContentMenuRow{		
		background-color:transparent;	
		width: 880px;
		padding-left: 15px;
		padding-bottom:25px;
		margin:0;	
	}
	
		.MainMenuImg{
		width:100%;
		height:80%;
	}
}

@media screen and (min-width:606px) and (max-width: 789px){
	.MainMenuEl{
		width:90px;height:120px;float:left;
		
	}

.ContentMenuElSelected {
	color: #9ec200;
}

.MainMenuElSelected {
	/*position: absolute;*/
	color: #9ec200;
}

.MainMenuImg{
	width:100%;
	height:80%;
}
	
	.ContentMenuRow{		
	background-color: transparent;
width: 90%;
padding-left: 15px;
padding-bottom: 25px;
margin-left: 55px;
margin-top: 20px;
	}
	
		
	.ContentMenuEl{
	width: 24%;
margin-top: 20px;}
	
}

@media screen and (min-width:412px) and (max-width:605px){
	.MainMenuEl{
		width:auto;
		height:auto;
		margin:10px;
		float:left;
	}
.ContentMenuElSelected {
	color: #9ec200;
}	

.MainMenuElSelected {
	/*position: absolute;*/
	color: #9ec200;
}

		.ContentMenuRow{		
		background-color:transparent;	
		width: 100%;
		padding-left: 15px;
		padding-bottom:25px;
		margin:0;	
	}
	
	.ContentMenuEl{
	width:25%;
	padding-bottom:25px;}
	
}

@media screen and (min-width:100px) and (max-width:411px){
	
.MainMenuEl{
		width:auto;
		height:auto;
		margin:10px;
		float:left;
	}
.ContentMenuElSelected {
	color: #9ec200;
}

.ContentMenuEl{
	width:100%;
	height:50px;
}

.MainMenuElSelected {
	/*position: absolute;*/
	color: #9ec200;
}
	
	.MainMenuImg{
	width:100%;
	height:80%;
}
	
		.ContentMenuRow{		
		background-color:transparent;	
		width: 100%;
		padding-left: 15px;
		padding-bottom:15px;
		margin:0;	
	}
	
	
}



	

	
