/*GLOBAL*/

#contImg1{
  width: 80%;
  margin: 0px auto;
}

#contImg{
width: 30%;
height: 100%;
float: left;
  position: relative;
  left: 15px;
}

.perCover{
  width: 150px;
  height: 180px;
  float: left;
  margin-left: 20px;
  margin-right: 25px;
  float: left;
}


#toggleUser{
	display:none;
}


#MainMenuTable {
	position: absolute;
	left: 2%;
	top: 0%;
	width: 96%;
	height: 90%;
	overflow: hidden;
}



.MainMenuEl{
	width: auto;
    height: 85%;
	color: white;
		
	}


.MainMenuImg{
  width: 120px;
  height: 120px;;
}

.MainMenuEl:focus {
	outline:none;
	}



.MainMenuEl:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.MainMenuElSelected {
	color: #9ec200;

}

.MainMenuTitle {
	top: 70%;
	left: 0%;
text-align: center;
font-size: 0.9em;
font-weight: bold;
border: none;
outline: none;
}

.anchorMain {
	background-color: transparent;
}

.ContentMenuEl {
	/* top: 1%; */
  height: 40px;
  padding: 10px;
  width: 20%;
  float: left;
  color: white;
  outline: none;
	/*border-left: solid 2px black;*/
}

.ContentMenuElSelected {
	color: #9ec200;
}

.ContentMenuEl:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.ContentMenuElSelected:hover {
	border: solid 2px #9ec200;
	border-radius: 4px;
	-moz-border-radius: 4px; /* firefox */
	-webkit-border-radius: 4px; /* safari, chrome */
}

.ContentMenuRow {
background-color: #333333;
position: relative;
margin-left: 200px;
float: left;
width: 60%;
overflow: hidden;
}

.ContentMenuTitle {
  position: relative;
  left: 20px;
  margin: 11px auto;
  float: left;
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
}

.ContentMenuImg {
	/*position: absolute;*/
	/*left: 5%;
	width: 25%;*/
	
	float:left;
	/*margin-left:20px;*/
	border: none;
	outline: none;
}

#mobileMenu ul li
{
display:block;
background-color: #E56038;
color: #fff;
padding: 12px 0;
letter-spacing: 0.1em;
text-align: center;
text-transform: uppercase;
border-bottom: 1px solid #CC5836;}


#mobileMenu {
display: block;
background: #333333;
position: fixed;
top: 55px;
width: 95%;
height: 250px;
z-index: 20;
border: 4px solid rgb(158, 194, 0);
/* border-top-left-radius: 0px; */
border-radius: 15px;
border-top-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
-moz-border-radius: 15px;
-moz-border-top-left-radius: 0px;
-moz-border-bottom-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
padding: 10px 10px 0px;
display: block;
left: 0px;
}

.toggleMobile {
display:none;
float: left;
width: auto;
height: 45px;
margin-top:5px;
padding-right: 6px;
cursor: pointer;
background:#333333;
border-radius: 15px;
border: 4px solid #9ec200;
z-index: 999;
}

.toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3
{
display: block;
position: absolute;
width: 41px;
height: 7px;
margin-left: 5px;
margin-top: 13px;
background: #3A8848;
-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

.toggleMobile span.menu2
{
background: #ABD037;
}

.toggleMobile span.menu1
{
top: 0;}
.toggleMobile span.menu2
{
top: 14px;}
.toggleMobile span.menu3
{
top: 28px;}	

.toggleMobile.active span.menu1
{
top: 14px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);}
.toggleMobile.active span.menu2
{
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
-moz-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);}
.toggleMobile.active span.menu3
{
opacity: 0;
-webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
-moz-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);}


#datausersmartphoneToggle{
	display:none;
}

/**********************************************************************
Media Queries
***********************************************************************/

/* Media Query specifica per schermo 1280 X 752 ASUS TRANSFORMER PAD e per schermo 1280 X 800 GALAXY TAB e per DESKTOP CON FIREFOX   */
@media (device-width: 1280px) and (device-height:752px) and (-webkit-min-device-pixel-ratio : 1), (device-width: 1280px) and (device-height:800px) and (-webkit-min-device-pixel-ratio : 1),(device-width: 1536px) and (device-height:864px){
.MainMenuImg {
  width: 100px;
  height: 80px;
}

.MainMenuEl {
  height: 120px;
}

}


@media (max-width: 1220px) and (min-width:768px){
			
#datausersmartphoneToggle{
	display:none;
}

#toggleUser{
	display:none;
}

#ContainerUser{
	display:none;
}

#LogoImgUser{
	display:none;
}

#contImg1{	
   width: 10vw;
  margin: 0 auto;
  margin-top: 10px;	
}
	
#toggleMenu {
	border-top-right-radius:15px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}

.ContentMenuRow {
margin-left:0px;
width: 100%;
margin-bottom: 10px;
background: #202020;	
}

#containerToggle {
background: #202020;
float: left;
width: 30%;
height: 51px;
cursor: pointer;
z-index: 999;
}	

#mobileMenu{
height: 320px;
width: 70%;
}


.MainMenuEl:hover {
border-bottom:none;
background: #202020;
background: #202020;
}

.MainMenuElSelected {
border:2px solid #9ec200;
border-radius:4px;
border-bottom:none;
}

#contImg{
height: 90px;
width: 90px;
margin: 0px auto;
padding-top: 25px;
}

.ContentMenuEl {
height: 100%;
width: 20%;
margin:0px;
}

.ContentMenuTitle {
text-align: center;
}

.ContentMenuImg{
margin:0px auto;
width: 100%;
height: 100%;
}

.ContentMenuElSelected {
color: #9ec200;
/* width: 90%; */
height: auto;
margin: 0 auto;
}

.MainMenuTitle {
font-size: 1.5em;
}

.ContentMenuTitle {

width: 100%;
margin: 0 auto;
font-size: 1.5em;
}

.MainMenuElSelected {

color: #9ec200;
background: #202020;
}
.perCover{
 	  font-size: 1vw;
 	  width:15vw;
}

.MainMenuImg {
   width: auto;
  height: 10vh;
}

#contMainEl0{  position: relative;left:0% !important;}
#contMainEl1{  position: relative;left:1% !important;}
#contMainEl2{ position: relative; left:2% !important;}
#contMainEl3{ position: relative; left:3% !important;}

#datausercontent{
float: left;
width: 16%;
}

.ContentMenuRow {
  left: 10%;
  position: absolute;
  width: 80%;
  margin: 0px auto;
  height: auto;
}

.MainMenuEl:hover {
border-bottom:none;
background: #202020;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-top-left-radius: 4px;
-moz-border-top-right-radius: 4px;
}

#mobileMenu{
width: 95%;
}


#containerToggle {
background: #202020;
float: left;
width: 30%;
height: 51px;
cursor: pointer;
z-index: 999;
}	


.MainMenuElSelected {
border:2px solid #9ec200;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom:none;
background: #202020;
}	


#contImg{
height:50px;
width:50px;
margin: 0px auto;
}

.ContentMenuEl {
  position: relative;
  float: left;
  height: 50%;
  width: 20%;
  margin: 0px;
}

.ContentMenuTitle {
text-align: center;
}

.ContentMenuImg{
margin:0px auto;
width: 100%;
height: 100%;
}



.ContentMenuElSelected {
color: #9ec200;
/* width: 90%; */
height: auto;
margin: 0 auto;
}

.ContentMenuTitle {

width: 100%;
margin: 0 auto;
}


.MainMenuEl {
position: relative;
width:100%; 
border-bottom: none;
margin:0px auto;
z-index: 5;
}

}/*chiusura media query 1200 766*/


/*SMARTPHONE LANDSCAPE*/
@media (max-width: 747px) and (min-width:479px) {
	
#datausersmartphoneToggle{
width: 55px;
float: left;
height: auto;
}

#ContainerUser{
width: 100%;
height: 100%;
margin: 0px auto;
}

#LogoImgUser{
width: 100%;
height: 100%;
}

#datausercontent {
width: 190px;
margin: 0 auto;
position: fixed;
left: 20%;
font-size: 1em;
z-index: 40;
background: #202020;
}


#containerToggle {
width: 55px;
float: left;  
background: #202020;
height: auto;
}

.MainMenuImg {
  width: 10vw;
  height: 10vh;
}

.ContentMenuImg {
  margin: 0px auto;
  width: 100%;
  height: 100%;
}

.ContentMenuTitle {
position: absolute;
text-align: center;
position: relative;
left: 15%;
float: left;
font-size: 0.9em;
font-weight: bold;
text-align: left;
}


.ContentMenuElSelected {
color: #9ec200;
}

.ContentMenuEl {
  position: relative;
  float: left;
  height: 50%;
  width: 20%;
  margin: 0px;
}

.MainMenuElSelected {
border:2px solid #9ec200;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom:none;
background: #202020;
}

.MainMenuEl:hover {
  border-bottom: none;
  background: #202020;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}

#contImg {
  height: 50px;
  width: 50px;
  margin: 0px auto;
}


.MainMenuImg{
  width: auto;
  height: auto;
}



.ContentMenuRow {
  background-color: #202020;
  left: 0%;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  height: auto;
}

.MainMenuTitle {
left: 0%;
/* text-align: center; */
/* width: 20%; */
font-size: 1.5vw;
font-weight: bold;
padding-top: 2px;
border: none;
outline: none;
}


#toggleMenu{
border-bottom-left-radius: 0px;
width:55px;
}

#toggleUser{
border-bottom-right-radius: 0px;
}


.ContentMenuElSelected {
color: #9ec200;
/* width: 90%; */
  height: 50px;

}

.ContentMenuTitle {
float: left;
width: 100px;
margin: 0 auto;
}

.MainMenuEl {
  position: relative;
  width: 100%;
  height:100px;
  border-bottom: none;
  margin: 0px auto;
  z-index: 5;
}


.perCover {
  width: 150px;
  height: 180px;
  float: left;
   margin-left: 15px;
  margin-right: 1px;
}



.perCover {
  font-size: 1vw;
  width: 15vw;
}

#contMainEl0{  position: relative;left:0%;  height: auto; }
#contMainEl1{  position: relative;left:5%;  height: auto;}
#contMainEl2{ position: relative; left:10%;  height: auto;}
#contMainEl3{ position: relative; left:15%;  height: auto;}

} /*chiusura media query 765



/* /*
Media Query per DESKTOP il min height a 481px è la max altezza conosciuta che si può raggiungere con gli smartphone
DA PROVARE NEL MOMENTO IN CUI SI VUOLE CONTROLLARE LA PARTE PER SCHERMO.

@media (max-width: 765px) and (min-height: 375px) and (-webkit-device-pixel-ratio : 1){
	
	
#toggleMenu{
border-bottom-left-radius: 0px;
width:55px;
}

#toggleUser{
border-bottom-right-radius: 0px;
}
		
#datausersmartphoneToggle{
width: 55px;
float: left;
height: auto;
}

#ContainerUser{
width: 100%;
height: 100%;
margin: 0px auto;
}

#LogoImgUser{
width: 100%;
height: 100%;
}

#datausercontent {
width: 190px;
margin: 0 auto;
position: fixed;
left: 20%;
font-size: 1em;
z-index: 40;
background: #202020;
}

#mobileMenu {
height: 100%;
position: fixed;
border: 0px;
padding-left: 0px;
padding-right: 0px;
border-radius: 15px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
width: 100%;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

.MainMenuElSelected {
border:2px solid #9ec200;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom:none;
background: #202020;
}

.MainMenuEl:hover {
  border-bottom: none;
  background: #202020;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}


#containerToggle {
width: 55px;
float: left;  
background: #202020;
height: auto;
}
	
	.ContentMenuEl {
  		width: 15vw;
	}
	
	.ContentMenuRow {
 		 top: 10%;
	}
	
	.MainMenuImg {
	  	width: 11vw;
	  	height: auto;
	}
	
	.ContentMenuImg {
	  	width: 10vw;
  		height: auto;
	}
} */
 

 
/*SMARTPHONE PORTRAIT*/
@media (max-width: 480px){

#contMainEl0{  position: absolute;top:5% !important;  left: auto; margin:0px;right:calc(49% + 9px); right:-webkit-calc(49% + 9px); right:-moz-calc(49% + 9px);}
#contMainEl1{  position: absolute;top:25% !important;  left: auto; margin:0px;right:calc(49% + 9px);right:-webkit-calc(49% + 9px); right:-moz-calc(49% + 9px);}
#contMainEl2{ position: absolute;top:50% !important;   left: auto;margin:0px;right:calc(49% + 9px);right:-webkit-calc(49% + 9px); right:-moz-calc(49% + 9px); }
#contMainEl3{ position: absolute; top:75% !important;  left: auto; margin:0px;right:calc(49% + 9px);right:-webkit-calc(49% + 9px); right:-moz-calc(49% + 9px);}

#toggleMenu{
border-bottom-left-radius: 0px;
width:55px;
}

#toggleUser{
border-bottom-right-radius: 0px;
}
		
#datausersmartphoneToggle{
width: 55px;
float: left;
height: auto;
}

#ContainerUser{
width: 100%;
height: 100%;
margin: 0px auto;
}

#LogoImgUser{
width: 100%;
height: 100%;
}

#datausercontent {
width: 190px;
margin: 0 auto;
position: fixed;
left: 20%;
font-size: 1em;
z-index: 40;
background: #202020;
}

.MainMenuElSelected {
border:2px solid #9ec200;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom:none;

background: #202020;
}

.MainMenuEl:hover {
  border-bottom: none;
  background: #202020;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  height:auto;
}


#containerToggle {
width: 55px;
float: left;  
background: #202020;
height: auto;
}

.MainMenuEl {
  position: relative;
  width: 100%;
  height:89%;
  border-bottom: none;
  margin: 0px auto;
  z-index: 5;
}

.perCover {
  font-size: 1vw;
  width: 35vw;
}

.MainMenuEl:hover {
	
  border-right: 2px solid #202020;
border-bottom: 2px solid #9ec200;
    border-top-right-radius: 0px;
     border-bottom-right-radius: 0px;
}


#mobileMenu {

  height: calc(100% - 90px);
  height: -moz-calc(100% - 90px);
  height: -webkit-calc(100% - 90px);
  width: 90%;
}

	.MainMenuElSelected {

  border-right: 2px solid #202020;
border-bottom:solid;
width: 100%;
z-index: 5;
height: auto;

  border-top-left-radius: 4px;

  border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
     border-bottom-right-radius: 0px;
    

}		
	
.MainMenuImg {
  width: 20vw;
  height: 10vh;
}

.ContentMenuImg {
  width: 10vh;
  height: 10vh;
}

.ContentMenuEl {
left: 5%;
/* float: none; */
width: 80%;
/* top: 20%; */

    margin-left: 20%;
  margin-bottom: 60px;
}

.ContentMenuRow {
  background-color: #202020;
  left: 0%;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  height: 90%;
}

	
} /*chiusura media query 480

/*Dispositivi piccolissimi come ad esempio LG Optimus One*/
@media (max-width: 213px){
#contMainEl0{  left: 18px !important;}
#contMainEl1{  left: 18px !important;}
#contMainEl2{ left: 18px !important; }
#contMainEl3{ left: 18px !important;}
	
#containerToggle {
  width: 30px;
}

#toggleMenu {
  width: 30px;
}

.toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3 {
  width: 20px;
}

#datausersmartphoneToggle {
  width: 30px;
}

#LogoImgUser {
  width: 100%;
  height: 80%;

}
}/*chiusura media query 213*/

/**************************************************************************/
/*MEDIA QUERIES SPECIFICHE*/

/* Samsung Galaxy S5 -----------P&L */
@media (device-width: 640px) and (device-height: 360px) and (-webkit-min-device-pixel-ratio: 2){
/* Styles */
  #mobileMenu {
 	 height: 250px;
	}	
}

@media (device-width: 360px) and (device-height: 640px) and (-webkit-min-device-pixel-ratio: 2){
	.perCover{
		 right: -webkit-calc(49% + 7px) !important;
		 right: -moz-calc(49% + 7px) !important;
	}
}

/*PER FIREFOX*/
@media (width: 360px){
	.perCover{
		 right: -webkit-calc(49% + 8px) !important;
		 right: -moz-calc(49% + 8px) !important;
	}
}


/* iPhone 5 -----------P&L */
@media only screen and (device-width: 568px) and (device-height: 320px) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	 #mobileMenu {
 	 height: 230px;
	}
	
}

@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
	.perCover{
		 right: -webkit-calc(49% + 8px) !important;
		 right: -moz-calc(49% + 8px) !important;
	}
}

/*PER FIREFOX*/
@media (width: 320px){
	.perCover{
		 right: -webkit-calc(49% + 8px) !important;
		 right: -moz-calc(49% + 8px) !important;
	}
}




